_site/
_draft/
_sort/
_material/
practices/01_intro/02*
practices/02_opti/02*
practices/02_opti/03*
practices/02_opti/04*
practices/02_opti/05*
practices/02_opti/06*
practices/02_opti/07*
practices/03*
to_sort/
.jekyll-cache/
TODO
